button,
.btn {
    background: transparent;
    box-shadow: 0 5px 10px 5px rgba(138, 43, 226, 0.1);
    border: none;
    color: $color-primary;
    cursor: pointer;
    font-size: 2rem;
    margin: 2rem;
    min-width: 15rem;
    padding: 1.5rem 1rem;
    position: relative;
    text-transform: uppercase;
    transition-duration: $transition-default;
}

%btn-two-common {
    background-color: $color-primary;
    content: '';
    height: 2px;
    position: absolute;
    transition-duration: $transition-default;
    transition-timing-function: ease-in-out;
    width: 0;
}

%btn-four-common {
    background-color: $color-primary;
    content: '';
    height: 0;
    position: absolute;
    transition: all $transition-default ease-in-out;
    width: 0;
    z-index: -1;
}

%btn-five-common {
    background-color: $color-primary;
    content: '';
    height: 2px;
    position: absolute;
    transition: all $transition-default linear;
    width: 0;
}

%btn-five-span-common {
    height: 0;
    width: 2px;
}

%btn-seven-common {
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    content: '';
    height: 0;
    position: absolute;
    transition: all $transition-default ease-in-out;
    width: 0;
}

#btn {
    &-one {
        border: 2px solid $color-primary;

        &:hover {
            background-color: $color-primary;
            color: $color-white;
        }
    }

    &-two {
        &::before {
            @extend %btn-two-common;
            left: 0;
            top: 0;
        }
        &::after {
            @extend %btn-two-common;
            bottom: 0;
            right: 0;
        }

        &:hover {
            &::before,
            &::after {
                width: 100%;
            }
        }
    }

    &-three {
        transition: all $transition-default ease-in-out;

        &::after {
            background-color: $color-primary;
            bottom: 0;
            content: '';
            height: 0;
            left: 0;
            position: absolute;
            transition: all $transition-default ease-in-out;
            width: 100%;
            z-index: -1;
        }

        &:hover {
            color: $color-white;

            &::after {
                height: 100%;
            }
        }
    }

    &-four {
        transition: all $transition-default ease-in-out;

        &::before {
            @extend %btn-four-common;
            left: 0;
            top: 0;
        }

        &::after {
            @extend %btn-four-common;
            bottom: 0;
            right: 0;
        }

        &:hover {
            color: $color-white;
            &::before,
            &::after {
                height: 100%;
                width: 100%;
            }
        }
    }

    &-five {
        &::before {
            @extend %btn-five-common;
            left: 0;
            top: 0;
        }

        &::after {
            @extend %btn-five-common;
            bottom: 0;
            right: 0;
        }

        & > span {
            &::before {
                @extend %btn-five-common;
                @extend %btn-five-span-common;
                bottom: 0;
                left: 0;
            }

            &::after {
                @extend %btn-five-common;
                @extend %btn-five-span-common;
                right: 0;
                top: 0;
            }
        }

        &:hover {
            &::before,
            &::after {
                width: 100%;
            }

            & > span {
                &::before,
                &::after {
                    height: 100%;
                }
            }
        }
    }

    &-six {
        &::before {
            background-color: $color-primary;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: all $transition-default ease-in-out;
            width: 2px;
            z-index: -1;
        }

        &:hover {
            color: $color-white;

            &::before {
                width: 100%;
            }
        }
    }

    &-seven {
        border: 2px solid $color-primary;

        &::before {
            @extend %btn-seven-common;
            top: 0;
            right: 0;
        }

        &::after {
            @extend %btn-seven-common;
            bottom: 0;
            right: 0;
        }

        &:hover {
            padding-right: 3rem;

            &::before {
                border-right-width: 3rem;
                border-bottom-width: 3rem;
                border-right-color: $color-primary;
            }

            &::after {
                border-bottom-width: 3rem;
                border-left-width: 3rem;
                border-bottom-color: $color-primary;
            }
        }
    }

    &-eight {
        &::after {
            background-color: $color-primary;
            border-radius: 5rem;
            content: '';
            height: 0;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            width: 0;
            z-index: -1;
        }

        &:hover {
            color: $color-white;

            &::after {
                border-radius: 0;
                height: 100%;
                width: 100%;
            }
        }
    }
}
